<div class="contenedor">


    <div class="cuerpo">

        <div class="columna1">
            <div class="card">
                <div class="titulo">
                    <span>Pedir Turno</span>
                </div>
                <div class="tabla">

                    <div class="profesionalPorApellido" *ngIf="false">
                        <app-profesional-por-apellido (emitProfesional)='TomarProfesional($event)'
                            [listaProfesionales]='listadoProfesionales'>
                        </app-profesional-por-apellido>
                    </div>

                    <div class="profesionalPorEspecialidad" *ngIf="true">
                        <app-profesional-por-especialidad (emitEspecialidad)='TomarEspecialidad($event)'
                            (emitProfesional)='TomarProfesional($event)' [listaProfesionales]='listadoProfesionales'>
                        </app-profesional-por-especialidad>
                    </div>

                </div>
            </div>
        </div>


        <div class="columna2">
            <div class="card">
                <div class="titulo">
                    <span>Mis Turnos</span>
                </div>
                <div class="tabla">
                    <table>
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Profesional</th>
                                <th>Especialidad</th>
                                <th>Estado</th>
                                <th>Accion</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of listaTurnos">
                                <td>{{item.solicitudFecha}} </td>
                                <td>{{item.solicitudHora}}</td>
                                <td>{{item.profesionalCorreo}} </td>
                                <td>{{item.area}}</td>
                                <td><span [ngClass]="{
                                    cancelado: item.estado == 'CANCELADO', 
                                    pendiente: item.estado == 'PENDIENTE', 
                                    aceptado: item.estado == 'ACEPTADO' , 
                                    atendido: item.estado == 'ATENDIDO',
                                    rechazado: item.estado == 'RECHAZADO'}">{{item.estado}}</span></td>
                                <td *ngIf="item.estado == 'PENDIENTE' || item.estado == 'ACEPTADO'  "><button
                                        class="botonCancelar" (click)="CancelarTurno(item)">Cancelar</button></td>
                                <td *ngIf="item.estado == 'ATENDIDO'  "><button (click)="VerTurnoAceptado(item)" class="botonVer">Ver</button></td>
                                <td *ngIf="item.estado == 'RECHAZADO' "><button (click)="VerTurnoCanceladoRechazado(item)" class="botonVer">Ver</button></td>
                                <td *ngIf="item.estado == 'CANCELADO' "><button (click)="VerTurnoCanceladoRechazado(item)" class="botonVer">Ver</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        
        
    </div>
    
    
</div>

<div class="cancelarTurno" *ngIf="cancelarTurnoHabilitado">
    <app-cancelar-turno [turno]='turno' (emitCancelar)="TurnoRechazadoCancelar($event)"></app-cancelar-turno>
</div>

<div class="verTurnoCancelado" *ngIf="verCanceladoTurnoHabilitado" >
  <app-ver-turno-cancelado-rechazado [turno]='turno' (emitCancelar)="TurnoRechazadoCancelar($event)"></app-ver-turno-cancelado-rechazado>
</div>

<div class="verTurnoAtendidoAceptado" *ngIf="verAceptadoTurnoHabilitado"  >
    <app-ver-turno-aceptado [turno]='turno' (emitCancelar)="TurnoRechazadoCancelar($event)"></app-ver-turno-aceptado>
</div>

<div class="pedirTurno" *ngIf="pedirTurno">
    <app-pedir-turno [profesionales]='profesionalesParaTurno' [especialidadTurno]='especialidad'
        (emitCancelar)='Cancelar($event)'></app-pedir-turno>
</div>