<div class="contenedor">
    <div class="loginContenedor">
        <div class="login">
            <div class="login-title">
                <h1>Gestionar Turnos</h1>
            </div>
            <div class="columna2">
                <div class="card">
                    <div class="tabla" *ngIf="rechazoCancelacion">
                        <table>
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Paciente</th>
                                    <th>Estado</th>
                                    <th>Especialidad</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let item of listadoUsuarios">
                                    <td>{{item.solicitudFecha}} </td>
                                    <td>{{item.solicitudHora}}</td>
                                    <td>{{item.paciente}} </td>
                                    <td>{{item.estado}}</td>
                                    <td>{{item.area}}</td>
                                    <td>{{item.correo}} </td>

                                    <td><button class="botonAceptar" (click)="AceptarTurno(item)">Aceptar</button> </td>
                                    <td><button class="botonRechazar" (click)="RechazarTurno(item)">Rechazar</button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

            
            <button  *ngIf="rechazoCancelacion" class="botonLogin" (click)="Cancelar()">Cancelar</button>
        </div>
         <div class="RechazarTurno" *ngIf="cancelarTurnoHabilitado">
             <app-rechazar-turno [turno]='turno' (emitCancelar)="TurnoRechazadoCancelar($event)"></app-rechazar-turno>
         </div>
        
    </div>

</div>