*{
    margin: 0%;
    padding: 0%;
    outline: none;
    font-family: Oswald;
    font-size: 2vh;
 
    
}



.login-title{

    width: 100%;
    height: 10%;
    background: #4169E1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: thin;
    border-style: solid;
    border-color:#4169E1;
    h1{
      font-size: 5vh;
      color: white;
  
     letter-spacing: 2px;
     
    }
  
  }

.loginContenedor{
    width: 100vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        
  }

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


  .botonLogin:hover
  {
    background: lightskyblue;
    transform:scale(1.05);
  }

  .subLogin{

    padding: 20px 20px;
    margin: 8px 0;
  }

  .subLogin2{

    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .botonLogin{
    top: 15%;
    position: relative;
    width: 30%;
    display: inline-block;
    background-color:#4169E1;
    border-radius: 4px;
    box-sizing: border-box;
    color: ghostwhite;
    //padding: 18px 24px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    font-size: 3.5vh;
    transition: 0.5s;
    letter-spacing: 1px;
    
  }
  
  .login{
    border-radius: 4px;
    text-align: center;
    background: ghostwhite;
    position: absolute;
    top: 50%;
    width: 50vw; 
    height: 70vh;  
    transform: translateY(-50%);
    overflow: hidden;
    box-shadow: 0 30px 40px rgba(0,0,0,.3);
    
  }


  .botones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .containerFlex{
    display: flex;
    justify-content: center;
    
  }


  .succes{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    align-items: center;
    position: absolute;
    width: 50%;
    height: 10%;
    border-radius: 4px;
    top:20%;
    letter-spacing: 1px;
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            background-color: rgb(108, 179, 93);

    span{
      font-size: 2.5vh;
    }
  }
  
 
  
  .error{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    align-items: center;
    position: absolute;
    width: 50%;
    height: 10%;
    border-radius: 4px;
    top:20%;
    letter-spacing: 1px;
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background-color: rgb(240, 74, 74);

    span{
      font-size: 2.5vh;
    }
  }

  .tabla {
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    table {
        width: 100%;
        text-align: center;
        overflow: hidden;
    }
    
    th{
        font-size: 2.5em;
    }
    
    tbody{
        tr:hover{
            cursor: pointer;
            background-color:#7995e9;
        }
        td{
          font-size: 3vh;
        }
    }
}

.pedirTurno{
  margin-top: 3%;
  h1{
    font-size: 2.5em;
  }

}

.tabla2 {
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  
  table {
      width: 100%;
      text-align: center;
  }
  
  th{
      font-size: 1.5em;
 
  }

  thead{
    position: sticky; 
    top: 0;
  }
  
  tbody{
      tr:hover{
          cursor: pointer;
          background-color:#7995e9;
      }
      td{
        font-size: 2vh;
      }
  }
}




.cuerpo {
  
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.columna1 {
  flex: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.columna{

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 100%;
  height: 100%;
  width: 100%;
 

}


.card {
  max-height: 250px;
  overflow: auto;
  background: white;
  border: solid 1px #4169E1;
  border-radius: 5px;
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


